#myButton{
    background-color: rgb(39,112,215);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#myButton:hover{
    background-color: rgb(25, 90, 173);
}


.swiper{
    width: 100%;
    height: 200px;
    margin: 20px 0;
}

.swiper-wrapper{
    height: 200px;
    border-radius: 10px;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #667eea;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.swiper-button-prev, .swiper-button-next{
color: white;
}