#box1{
    width: 250px;
    height: 250px;
    background: red;
    font-size: 225px;
    text-align: center;
    color: white;

   /* animation: mySlide;
    animation-duration: 5s;
    animation-play-state: running;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;*/
/*vnizu, to, chto vstavlayetsya prosto kak animaciya, libo v hover ili active*/
    animation: 3s linear 0s infinite running myColorChange /*imya zamenyaetsya*/
}
    /*animaciya pri navedenii myshi*/
#box1:hover{

}
    
/*animaciya pri najatii myshi*/
#box1:active{

} 

/*raznye opcii*/
@keyframes mySlide{
    from{margin-left: 0%;}
    to{margin-left: 100%; ;}
}

@keyframes myRotate{
/*100%{transform: rotateX(360deg);}
100%{transform: rotateY(360deg);}*/
100%{ transform: rotateZ(360deg);}
}

@keyframes myOpacity{
    50%{opacity: 0;}
}

@keyframes myScale{
    50%{transform: scale(0.5, 0.5);}
}

@keyframes myColorChange{
0%{background-color: red;}
20%{background-color: orange;}
40%{background-color: yellow;}
60%{background-color: green;}
80%{background-color: blue;}
100%{background-color: purple;}
}
