#box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: blueviolet;
position: fixed;
bottom: 0px;

}
#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    top: 100px;
    left: 100px;
}