body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}
h1{
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px; 
    width: 400px;
    padding: 3px;
    background-color: rgb(230, 191, 87);
    color:rgb(104, 34, 7);
   margin-left: 40%;
   margin-bottom: 50px;

}
.bear{
    width: 500px;
    border-radius: 20px;
    border: 1px solid black;
   float: left;
   margin: 30px;
}
p{
font-size: 35px;
color: white;
}
.type1{
    color: blueviolet;
}
.type2{
    color: black;
}